<div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
        <a class="navbar-brand">Movie Matcher</a>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
            <li role="presentation"><a data-dojo-attach-point="navPlayBtn">Play</a></li>
            <li role="presentation"><a data-dojo-attach-point="navAboutBtn">About</a></li>
        </ul>
    </div>

    <div id="aboutContainer" data-dojo-attach-point="aboutContainer" data-dojo-type="app/dijit/About"></div>
    <div id="playContainer" data-dojo-attach-point="playContainer" data-dojo-type="app/dijit/Play" class="hidden"></div>
</div>